<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
    <title>List of Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:insert="topbanner"></div>
<div class = "container">

    <br><br>
    <h3>Add Student</h3>
    <br>
<form action="#" th:action="@{create}" th:object = "${student}" method="POST" style="margin-left: auto; margin-right: auto">
    <div class="mb-3">
    <label class="form-label">Student name:</label>
    <input type = "text" class="form-control" th:field="*{name}">
    </div>
    <div class="mb-3">
    <label class="form-label">Email:</label>
    <input type = "text" class="form-control" th:field="*{email}">
    </div>
    <div class="mb-3">
    <label class="form-label">Supervisor:</label>
    <input type = "text" class="form-control" th:field="*{supervisor}">
    </div>
    <button type="submit" class="btn btn-success ml-auto">Confirm</button>
</form>
<br>

<table class="table table-striped" style="width: 900px; margin-left: auto; margin-right: auto;">
    <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Email</th>
        <th scope="col">Supervisor</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each= "listOfStudent : ${students}">
        <td th:text="${listOfStudent.getName()}"> </td>
        <td th:text="${listOfStudent.getEmail()}"> </td>
        <td th:text="${listOfStudent.supervisor.name}"> </td>
        <td><a class="btn btn-warning" th:href="@{/update(id=${listOfStudent.getId()})}">Update</a></td>
        <td><a class="btn btn-danger" th:href="@{delete(id=${listOfStudent.getId()})}">Delete</a></td>
    </tr>
</table>


</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>